block config
  include variables
doctype html
html(lang="es")
  head
    title Example Page
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=twitterAccount)
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:image" content=pageImage)
    link(href="css/styles.css" rel="stylesheet")
    link(href="assets/img/React.png" rel="shortcut icon")
    
  body
    block main

    script(src="js/scripts-min.js")
